<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="so.partner.partnerchatsample" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.Init"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.Chat">
            <intent-filter>
                <action android:name="MESSAGE_ARRIVED" />
                <category android:name="so.partner.partnerchatsample" />
            </intent-filter>
        </activity>

        <!-- partner_android_library_mqtt의 Push를 처리하기 위한 Receiver -->
        <receiver android:name="so.partner.partnerchatsample.MqttBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="so.partner.lib.android.mqtt.MQTT_EVENT" />

                <category android:name="so.partner.partnerchatsample" />
            </intent-filter>
        </receiver>

        <!-- partner_android_library_mqtt의 Connection을 처리하는 Service -->
        <service android:name="so.partner.lib.android.mqtt.MqttService" />
    </application>

</manifest>
